<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    {% include head-custom.html %}
    {% seo %}

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      .container {
        flex: 1;
      }

      footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222;
        color: #fff;
        padding: 20px 0;
        text-align: center;
      }

      </style>
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <footer>
      <div class="container">
        <div class="footer-content">
            <a href="https://github.com/conmecha/conmecha.github.io" target="_blank">
              Kaynak kodu
            </a>
        </div>
      </div>
    </footer>
  </body>
</html> 